.style-p p {
    margin: 0 0 3px 0;
    font-size: 13px;

}
.utilities_title {
    font-size: 28px;
    font-weight: 700;
}

.testimonials-item-body h3 {
    font-size: 24px;
    font-weight: 700;
}
.policy {
    padding-top: 0;
}
.policy_detail {
    margin: 15px;
    border: 1px solid #efefef;
}
.policy_title {
    font-size: 24px;
    font-weight: 700;
}
.policy_content {
    padding: 10px;
}
.contact .section-main-title {
    font-weight: 700;
}
.contact .button_submit {
    margin-top: 30px;
}
.footer-copyright-section {
    background: #2791d8;
}
.copyright_text, .copyright_text a {
    color: #fff !important;
}