/*
Template Name: plume
Template URL: http://gfort.co/plume
Description: PLUME HTML5 Multipurpose Template
Version: 1.3
Author: Graphicfort
Author URL: http://graphicfort.com
License: Custom
License URL: http://themeforest.net/licenses/standard
*/


/*
1. Tablet Landscape
2. Tablet Portrait
3. Mobile Landscape
4. Mobile Portrait
*/




/* =============================================================================
   1. Tablet Landscape
============================================================================= */
@media (max-width: 1199px) {

    .sidebar-header-btn,
    .sidebar-header-btn:hover,
    .sidebar-header-btn:focus,
    .sidebar-header-btn.focus,
    .sidebar-header-btn:active,
    .sidebar-header-btn.active {
        top: 7px;
        left: 7px;
    }

    .intro-section-title .section-main-title { font-size: 30px; }

    .page-boxed.page-boxed-style-1 #main-wrapper { margin: 0 auto; }

    .header-search-form-block { max-width: 970px; }

    ul.header-btns {
        padding: 0;
        margin: 0 0 0 15px;
    }

    ul.navbar-nav { margin: 0 -10px; }
    ul.navbar-nav > li { margin: 0 10px; }

    .parallax-section,
    .overlay-section  {
        background-attachment: scroll !important;
        background-position: center top !important;

        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }

    .blog-col-1 .blog-item .blog-item-media iframe:not([height])[src*="soundcloud"] { height: 330px; }
    .blog-items-small-thumbs .blog-item .blog-item-media iframe:not([height])[src*="soundcloud"] { height: 240px; }
    .blog-col-2 .blog-item .blog-item-media iframe:not([height])[src*="soundcloud"] { height: 196px; }

    .page-left-sidebar .portfolio-col-3 .portfolio-item { width: 50%; }
    .page-left-sidebar .portfolio-col-3 .portfolio-item:nth-child(3n+1) { clear: none; }
    .page-left-sidebar .portfolio-col-3 .portfolio-item:nth-child(2n+1) { clear: left; }
    .page-right-sidebar .portfolio-col-3 .portfolio-item { width: 50%; }
    .page-right-sidebar .portfolio-col-3 .portfolio-item:nth-child(3n+1) { clear: none; }
    .page-right-sidebar .portfolio-col-3 .portfolio-item:nth-child(2n+1) { clear: left; }
    .portfolio-col-4 .portfolio-item { width: 33.33333333%; }
    .portfolio-col-4 .portfolio-item:nth-child(4n+1) { clear: none; }
    .portfolio-col-4 .portfolio-item:nth-child(3n+1) { clear: left; }
    .portfolio-col-4 .isotope-wide-col { width: 66.66666666% !important; }
    .portfolio-col-4 .portfolio-item .portfolio-item-title {
        font-size: 20px;
        line-height: 26px;
    }
    .portfolio-col-5 { margin: 0 -15px; }
    .portfolio-col-5 .portfolio-item {
        padding-left: 15px;
        padding-right: 15px;
        width: 33.33333333%;
    }
    .portfolio-col-5 .portfolio-item:nth-child(5n+1) { clear: none; }
    .portfolio-col-5 .portfolio-item:nth-child(3n+1) { clear: left; }
    .portfolio-col-5.portfolio-title-overlay { margin-bottom: 0; }
    .portfolio-col-5.portfolio-title-overlay .portfolio-item { padding-bottom: 30px; }
    .fullwidth-section .portfolio-col-5 { margin: 0 15px; }
    .portfolio-col-5 .isotope-wide-col { width: 66.66666666% !important; }
    .portfolio-col-5 .portfolio-item .portfolio-item-title {
        font-size: 20px;
        line-height: 26px;
    }
    .portfolio-single-item .portfolio-item .portfolio-item-media iframe:not([height])[src*="soundcloud"] {
        height: 330px;
    }

    .page-left-sidebar .shop-col-3 .shop-item { width: 50%; }
    .page-left-sidebar .shop-col-3 .shop-item:nth-child(3n+1) { clear: none; }
    .page-left-sidebar .shop-col-3 .shop-item:nth-child(2n+1) { clear: left; }
    .page-right-sidebar .shop-col-3 .shop-item { width: 50%; }
    .page-right-sidebar .shop-col-3 .shop-item:nth-child(3n+1) { clear: none; }
    .page-right-sidebar .shop-col-3 .shop-item:nth-child(2n+1) { clear: left; }
    .shop-col-4 .shop-item { width: 33.33333333%; }
    .shop-col-4 .shop-item:nth-child(4n+1) { clear: none; }
    .shop-col-4 .shop-item:nth-child(3n+1) { clear: left; }
    .shop-col-4 .shop-item .shop-item-title {
        font-size: 20px;
        line-height: 26px;
    }
    .shop-col-5 { margin: 0 -15px; }
    .shop-col-5 .shop-item {
        padding-left: 15px;
        padding-right: 15px;
        width: 33.33333333%;
    }
    .shop-col-5 .shop-item:nth-child(5n+1) { clear: none; }
    .shop-col-5 .shop-item:nth-child(3n+1) { clear: left; }
    .shop-col-5 .shop-item .shop-item-title {
        font-size: 20px;
        line-height: 26px;
    }

    .half-section .section-container { max-width: 485px; }

    [data-slider-arrows-type="arrow"] .owl-nav div,
    [data-slider-arrows-type="arrow"].gfort-owl-slider.owl-theme .owl-nav div,
    [data-slider-arrows-type="arrow"] .gfort-owl-slider.owl-theme .owl-nav div {
        display: none;
    }

    .google-map-block-collapsed.uncollapsed,
    .google-map-block-collapsed .gfort-google-map,
    .google-map-block:not(.google-map-block-collapsed) {
        height: 400px;
    }

}




/* =============================================================================
   2. Tablet Portrait
============================================================================= */
@media (max-width: 991px) {

    .header-search-form-block { max-width: 750px; }

    ul.navbar-nav > li > a::after { display: none; }

    .mtl { text-align: left !important; }

    .triangle-block-left,
    .triangle-block-right,
    .triangle-block-center-left,
    .triangle-block-center-right {
        left: 50%;
        right: auto;
        margin-left: -15px;
        margin-right: auto;
    }

    .header-section:not(.sidebar-header) .navbar-toggle { display: block; }

    .header-section:not(.sidebar-header) .navbar .col-md-12 { position: static; }
    .header-section:not(.sidebar-header) .navbar .col-md-12::after {
        content: '';
        clear: both;
        display: table;
    }

    .header-section:not(.sidebar-header) .header-menu-center-side {
        z-index: 5;
        margin-top: -1px;
    }

    .header-section:not(.sidebar-header) .navbar-collapse.collapse,
    .header-section:not(.sidebar-header) .header-menu-center-side .navbar-collapse.collapse {
        left: 0;
        right: 0;
        top: 100%;
        padding: 0;
        width: 100%;
        position: absolute;
        display: none !important;
        background-color: #ffffff;
    }
    .header-section:not(.sidebar-header) .navbar-collapse.collapsing {
        left: 0;
        top: 100%;
        padding: 0;
        width: 100%;
        display: block;
        max-height: 300px;
        position: absolute;
        background-color: #ffffff;
        overflow: hidden !important;
        border-top: 1px solid #efefef;
    }
    .header-section:not(.sidebar-header) .navbar-collapse.collapse.in {
        padding: 0;
        max-height: 300px;
        display: block !important;
        overflow: hidden !important;
        overflow-y: scroll !important;
        border-top: 1px solid #efefef;
    }

    .header-section:not(.sidebar-header) ul.navbar-nav {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 750px;
        float: none !important;
    }

    .header-section:not(.sidebar-header) ul.navbar-nav > li {
        padding: 0;
        width: 100%;
        display: block;
        margin: 0 auto;
        border-top: 1px solid #efefef;
    }
    .header-section:not(.sidebar-header) ul.navbar-nav > li:first-child { border: 0; }

    .header-section:not(.sidebar-header) ul.navbar-nav > li > a,
    .header-section:not(.sidebar-header) .header-menu-left-side ul.navbar-nav > li > a,
    .header-section:not(.sidebar-header) .header-menu-center-side ul.navbar-nav > li > a {
        padding: 12px 0;
        text-align: left;
    }

    .header-section:not(.sidebar-header) ul.navbar-nav li ul,
    .header-section:not(.sidebar-header) ul.navbar-nav li.megamenu > ul {
        border: 0;
        opacity: 1;
        width: 100%;
        margin: 0 auto;
        overflow-y: hidden;
        position: relative;
        visibility: visible;
        background-color: #f5f5f5;

        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;

        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
                transform: translate(0, 0);

        -webkit-transition: all 0s ease-in-out;
                transition: all 0s ease-in-out;
    }
    .header-section:not(.sidebar-header) ul.navbar-nav li.megamenu > ul { padding: 10px 0; }

    .header-section:not(.sidebar-header) ul.navbar-nav li ul ul {
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        position: relative;
    }

    .header-section:not(.sidebar-header) ul.navbar-nav li.megamenu > ul .menu-arrow { display: block; }

    .header-section:not(.sidebar-header) ul.navbar-nav li.megamenu > ul > li {
        padding: 0;
        width: 100%;
        float: none;
        border-right: 0;
    }

    .top-header-widget-container {
        width: 100%;
        display: block;
        line-height: 0;
        text-align: center;
    }

    .widget-left-side,
    .widget-right-side {
        width: 100%;
        float: none;
        clear: none;
        text-align: center;
    }
    .widget-left-side {
        padding-top: 20px;
        padding-bottom: 5px;
    }
    .widget-right-side {
        padding-top: 5px;
        padding-bottom: 20px;
    }
    .pt-0.widget-left-side { padding-top: 5px !important; }
    .pt-20.widget-left-side { padding-top: 5px !important; }
    .pb-20.widget-left-side { padding-bottom: 0px !important; }
    .pb-26.widget-right-side { padding-bottom: 20px !important; }
    .pt-20.widget-right-side,
    .pt-26.widget-right-side {
        padding-top: 0 !important;
    }

    .col-w-25,
    .col-w-75 {
        width: 100% !important;
    }

    .top-header-widget-container .navbar-header {
        float: none;
        display: inline-block;
    }

    .breadcrumb-title .breadcrumb-main-title { font-size: 24px; }
    .page-title-section[style*="url"] .breadcrumb-title { padding: 60px 0; }
    .breadcrumb-title { padding: 40px 0; }
    .page-title-section.page-title-section-wide .breadcrumb-title {
        float: none;
        width: 100%;
        padding: 40px 0 0;
        text-align: center;
    }
    .page-title-section.page-title-section-wide .breadcrumb-block {
        width: 100%;
        float: none;
        text-align: center;
    }
    .page-title-section.page-title-section-wide .breadcrumb-block .breadcrumb { padding: 8px 0 40px; }
    .page-title-section.page-title-section-wide[style*="url"] .breadcrumb-title { padding-top: 60px; }
    .page-title-section.page-title-section-wide[style*="url"] .breadcrumb-block .breadcrumb { padding-bottom: 60px; }

    ul.portfolio-projects li,
    .widget-block-instagram .instagram-feed-block-container li {
        width: 16.6666667%;
    }

    .blog-col-1 .blog-item,
    .blog-items-small-thumbs .blog-item:last-child {
        padding-bottom: 30px;
    }
    .blog-items-small-thumbs { margin-bottom: 0; }
    .blog-items-small-thumbs .blog-item { margin-bottom: 30px; }
    .blog-col-3 .blog-item,
    .related-blog-posts-container ul.blog-posts li {
        width: 50%;
    }
    .blog-col-3 .blog-item:nth-child(3n+1),
    .related-blog-posts-container ul.blog-posts li:nth-child(3n+1) {
        clear: none;
    }
    .blog-col-3 .blog-item:nth-child(2n+1),
    .related-blog-posts-container ul.blog-posts li:nth-child(2n+1) {
        clear: left;
    }

    .portfolio-col-1 { margin-bottom: 0; }
    .portfolio-col-1 .portfolio-item {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    .portfolio-col-1 .portfolio-item .portfolio-item-media { width: 65%; }
    .portfolio-col-3 .portfolio-item,
    .portfolio-col-4 .portfolio-item,
    .portfolio-col-5 .portfolio-item {
        width: 50%;
    }
    .portfolio-col-3 .portfolio-item:nth-child(3n+1),
    .portfolio-col-4 .portfolio-item:nth-child(3n+1),
    .portfolio-col-4 .portfolio-item:nth-child(4n+1),
    .portfolio-col-5 .portfolio-item:nth-child(3n+1),
    .portfolio-col-5 .portfolio-item:nth-child(5n+1) {
        clear: none;
    }
    .portfolio-col-3 .portfolio-item:nth-child(2n+1),
    .portfolio-col-4 .portfolio-item:nth-child(2n+1),
    .portfolio-col-5 .portfolio-item:nth-child(2n+1) {
        clear: left;
    }
    .portfolio-col-3 .isotope-wide-col,
    .portfolio-col-4 .isotope-wide-col,
    .portfolio-col-5 .isotope-wide-col {
        width: 100% !important;
    }
    .related-portfolio-projects ul.portfolio-projects li { width: 50%; }
    .related-portfolio-projects ul.portfolio-projects li:nth-child(3n+1) { clear: none; }
    .related-portfolio-projects ul.portfolio-projects li:nth-child(2n+1) { clear: left; }
    .portfolio-single-item.portfolio-single-item-sbs .portfolio-item .portfolio-item-media {
        padding: 0;
        width: 100%;
        float: none;
        clear: none;
    }
    .portfolio-single-item.portfolio-single-item-sbs .portfolio-item .portfolio-item-body {
        padding: 0;
        width: 100%;
        display: block;
    }
    .portfolio-single-item.portfolio-single-item-sbs .portfolio-item-media iframe[src*="soundcloud"] { height: 330px; }

    .shop-col-3 .shop-item,
    .shop-col-4 .shop-item,
    .shop-col-5 .shop-item,
    .related-shop-products-container ul.products li,
    .page-left-sidebar .related-shop-products-container ul.products li,
    .page-right-sidebar .related-shop-products-container ul.products li {
        width: 50%;
    }
    .shop-col-3 .shop-item:nth-child(3n+1),
    .shop-col-4 .shop-item:nth-child(3n+1),
    .shop-col-4 .shop-item:nth-child(4n+1),
    .shop-col-5 .shop-item:nth-child(3n+1),
    .shop-col-5 .shop-item:nth-child(4n+1),
    .related-shop-products-container ul.products li:nth-child(3n+1) {
        clear: none;
    }
    .shop-col-3 .shop-item:nth-child(2n+1),
    .shop-col-4 .shop-item:nth-child(2n+1),
    .shop-col-5 .shop-item:nth-child(2n+1),
    .related-shop-products-container ul.products li:nth-child(2n+1) {
        clear: left;
    }
    .shop-single-item article.shop-item .shop-item-media { width: 48%; }

    nav.navigation-block ul li,
    nav.navigation-block.navigation-block-col-2 ul li,
    nav.navigation-block.navigation-block-col-3 ul li,
    nav.navigation-block.navigation-block-col-4 ul li,
    nav.navigation-block.navigation-block-col-5 ul li {
        width: 33.33333333%;
    }

    .cart-total-col { width: 100%; }

    .video-section .section-container { padding: 200px 0 170px; }

    .half-section .half-section-media {
        width: 100%;
        display: block;
        position: relative;
        margin-bottom: 40px;
    }
    .half-section.left-side-media,
    .half-section.right-side-media {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .half-section.left-side-media .section-container,
    .half-section.right-side-media .section-container {
        width: 100%;
        display: block;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .half-section.left-side-media .section-container .container,
    .half-section.right-side-media .section-container .container {
        width: 750px;
    }
    .half-section .half-section-media img.small-screen-image { display: block; }
    .half-section .half-section-media img:not(.small-screen-image) {
        width: 100%;
        height: auto;
        display: block;
        padding: 0 15px;
        max-width: 750px;
        max-height: 100%;
        position: relative;
        margin: 80px auto 0;
    }

    .twitter-feed-block-sbs.twitter-feed-block ul.gfort-twitter-list li { width: 100%; }
    .twitter-feed-block-sbs.twitter-feed-block ul.gfort-twitter-list li:nth-child(3n+1) { clear: none; }

    .instagram-feed-block-container li { width: 20%; }

    .gfort-tabs-vertical.gfort-tabs .nav-tabs {
        padding: 0;
        float: none;
        width: 100%;
        display: block;
        margin: 0 auto 30px;
    }
    .gfort-tabs-vertical.gfort-tabs .tab-content { width: 100%; }

    .clients-items-wrapper { text-align: center; }
    .clients-col-2 .client-item,
    .clients-col-3 .client-item,
    .clients-col-4 .client-item,
    .clients-col-5 .client-item,
    .clients-col-6 .client-item {
        width: 25%;
    }

    .mobile-clearfix {
        width: 100%;
        display: block;
        overflow: hidden;
    }

    .pricing-table-block-style-1 .pricing-table-block-container { display: block; }
    .pricing-table-block-style-1 .pricing-table-block-head {
        float: none;
        width: 100%;
        display: block;
    }
    .pricing-table-block-style-1 .pricing-table-block-body {
        width: 100%;
        display: block;
        padding: 25px 10px 20px 10px;
    }

    .testimonials-col-2 .testimonials-item,
    .testimonials-col-3 .testimonials-item {
        width: 100%;
    }

    .gallery-col-3 .gallery-item,
    .gallery-col-4 .gallery-item,
    .gallery-col-5 .gallery-item {
        width: 50%;
    }
    .gallery-col-3 .gallery-item:nth-child(3n+1),
    .gallery-col-4 .gallery-item:nth-child(4n+1),
    .gallery-col-5 .gallery-item:nth-child(5n+1) {
        clear: none;
    }
    .gallery-col-3 .gallery-item:nth-child(2n+1),
    .gallery-col-4 .gallery-item:nth-child(2n+1),
    .gallery-col-5 .gallery-item:nth-child(2n+1) {
        clear: left;
    }

    .events-col-3 .event-item { width: 50%; }
    .events-col-3 .event-item:nth-child(3n+1) { clear: none; }
    .events-col-3 .event-item:nth-child(2n+1) { clear: left; }
    .related-events-blocks-container ul.events-blocks li { width: 50%; }
    .related-events-blocks-container ul.events-blocks li:nth-child(3n+1) { clear: none; }
    .related-events-blocks-container ul.events-blocks li:nth-child(2n+1) { clear: left; }

    .copyright-widget { text-align: center; }

}




/* =============================================================================
   3. Mobile Landscape
============================================================================= */
@media (max-width: 767px) {

    .container,
    ul.navbar-nav,
    .header-search-form-block,
    .half-section .half-section-media img:not(.small-screen-image) {
        max-width: 470px;
    }

    .half-section .section-container,
    .half-section.left-side-media .section-container,
    .half-section.right-side-media .section-container {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-header { float: left; }
    .navbar-collapse.collapsing,
    .navbar-collapse.collapse.in {
        max-height: none;
    }

    .alignleft,
    .alignright {
        float: none;
        clear: both;
        display: block;
        margin: 5px auto 30px;
    }

    ul.portfolio-projects li,
    .widget-block-instagram .instagram-feed-block-container li {
        width: 33.33333333%;
    }

    .blog-items-small-thumbs .blog-item {
        border-bottom: 0;
        margin-bottom: 0;
    }
    .search-item-body .search-item-title,
    .blog-col-1 .blog-item .blog-item-body .blog-item-title {
        font-size: 20px;
        line-height: 26px;
    }
    .blog-single-item .blog-item .blog-item-title {
        font-size: 22px;
        line-height: 26px;
    }
    .blog-col-1 .blog-item .blog-item-media iframe:not([height])[src*="soundcloud"],
    .blog-col-2 .blog-item .blog-item-media iframe:not([height])[src*="soundcloud"],
    .blog-single-item .blog-item .blog-item-media iframe:not([height])[src*="soundcloud"],
    .blog-items-small-thumbs .blog-item .blog-item-media iframe:not([height])[src*="soundcloud"] {
        height: 220px;
    }
    .blog-col-2 .blog-item {
        width: 100%;
        float: none;
    }
    .blog-col-2.blog-timeline .blog-item,
    .blog-col-2.blog-timeline .blog-item:nth-child(2n+1) {
        float: none;
        padding-left: 15px;
        padding-right: 15px;
    }
    .blog-col-2.blog-timeline .blog-item .blog-item-body .blog-item-title::after,
    .blog-col-2.blog-timeline .blog-item:nth-child(2n+1) .blog-item-body .blog-item-title::after,
    .blog-col-2.blog-timeline .blog-item:nth-child(2n+1) .blog-item-body .blog-item-title::before {
        display: none;
    }
    .blog-single-item .blog-item .blog-item-media { margin-bottom: 20px; }
    .blog-single-item .blog-item .blog-item-meta span.item-meta-format { margin-left: 1px; }
    .blog-col-3 .blog-item,
    .related-blog-posts-container ul.blog-posts li,
    .page-left-sidebar .related-blog-posts-container ul.blog-posts li,
    .page-right-sidebar .related-blog-posts-container ul.blog-posts li {
        width: 100%;
    }

    ul.gfort-pager li { width: 100%; }

    .fullwidth-section .portfolio-col-2,
    .fullwidth-section .portfolio-col-3,
    .fullwidth-section .portfolio-col-4,
    .fullwidth-section .portfolio-col-5 {
        margin-left: 0;
        margin-right: 0;
    }
    .portfolio-col-2 .portfolio-item,
    .portfolio-col-3 .portfolio-item,
    .portfolio-col-4 .portfolio-item,
    .portfolio-col-5 .portfolio-item,
    .page-left-sidebar .portfolio-col-3 .portfolio-item,
    .page-right-sidebar .portfolio-col-3 .portfolio-item,
    .related-portfolio-projects ul.portfolio-projects li,
    .page-left-sidebar .related-portfolio-projects ul.portfolio-projects li,
    .page-right-sidebar .related-portfolio-projects ul.portfolio-projects li {
        width: 100%;
    }

    .portfolio-col-1 .portfolio-item .portfolio-item-media,
    .page-left-sidebar .portfolio-col-1 .portfolio-item .portfolio-item-media,
    .page-right-sidebar .portfolio-col-1 .portfolio-item .portfolio-item-media {
        width: 100%;
        margin: 0 auto;
    }
    .portfolio-col-1 .portfolio-item .portfolio-item-body {
        width: 100%;
        padding-left: 0;
    }
    .portfolio-title-overlay .portfolio-item .portfolio-item-body { padding-left: 20px; }
    .portfolio-col-1 .portfolio-item .portfolio-item-title {
        font-size: 20px;
        line-height: 26px;
        margin: 17px auto 0;
    }
    .portfolio-title-overlay .portfolio-item .portfolio-item-title { margin: 0; }
    .portfolio-single-item .portfolio-item ul.portfolio-item-info {
        width: 100%;
        float: none;
        margin: 30px auto 0;
    }
    .portfolio-single-item .portfolio-item .portfolio-item-media iframe[src*="soundcloud"] {
        height: 220px !important;
    }
    .portfolio-single-item .portfolio-item .portfolio-item-title {
        font-size: 22px;
        line-height: 26px;
    }

    .shop-items-info p,
    .shop-items-info form {
        width: 100%;
    }
    .shop-items-info p { margin-bottom: 10px; }
    .shop-col-2 .shop-item,
    .shop-col-3 .shop-item,
    .shop-col-4 .shop-item,
    .shop-col-5 .shop-item,
    .page-left-sidebar .shop-col-3 .shop-item,
    .page-right-sidebar .shop-col-3 .shop-item,
    .related-shop-products-container ul.products li,
    .shop-single-item article.shop-item .shop-item-body,
    .shop-single-item article.shop-item .shop-item-media,
    .page-left-sidebar .related-shop-products-container ul.products li,
    .page-right-sidebar .related-shop-products-container ul.products li,
    .page-left-sidebar .shop-single-item article.shop-item .shop-item-media,
    .page-right-sidebar .shop-single-item article.shop-item .shop-item-media {
        width: 100%;
    }
    .shop-item-body .shop-item-title {
        font-size: 20px;
        line-height: 26px;
    }
    .shop-single-item article.shop-item .shop-item-body,
    .shop-single-item article.shop-item .shop-item-media {
        padding: 0;
    }

    nav.navigation-block ul li,
    nav.navigation-block.navigation-block-col-2 ul li,
    nav.navigation-block.navigation-block-col-3 ul li,
    nav.navigation-block.navigation-block-col-4 ul li,
    nav.navigation-block.navigation-block-col-5 ul li {
        width: 50%;
    }

    .video-section .section-title .section-main-title,
    .section-title:not(.section-title-sm) .section-main-title {
        font-size: 24px;
    }
    .section-title:not(.section-title-sm) .section-main-title-lg { font-size: 80px; }

    .video-section .section-container { padding: 150px 0 120px; }

    .subscribe-form-block .col-md-12:first-child,
    .subscribe-form-block .col-md-12:nth-child(2) {
        width: 100%;
    }

    .clients-col-2 .client-item,
    .clients-col-3 .client-item,
    .clients-col-4 .client-item,
    .clients-col-5 .client-item,
    .clients-col-6 .client-item {
        width: 50%;
    }

    .downtime-counter-block-container .downtime-col { width: 50%; }

    .pricing-table-block-style-1 .pricing-table-block-body ul li { width: 100%; }

    .events-col-3 .event-item,
    .related-events-blocks-container ul.events-blocks li,
    .page-left-sidebar .related-events-blocks-container ul.events-blocks li,
    .page-right-sidebar .related-events-blocks-container ul.events-blocks li {
        width: 100%;
    }

    .pricing-table-block-style-1 .pricing-table-block-container { padding-bottom: 0; }
    .pricing-table-block-style-1 .pricing-table-block-btn { position: relative; }

}




/* =============================================================================
   4. Mobile Portrait
============================================================================= */
@media (max-width: 479px) {

    .container,
    ul.navbar-nav,
    .header-search-form-block,
    .half-section .half-section-media img:not(.small-screen-image) {
        max-width: 350px;
    }

    ul.header-btns,
    ul.header-btns .header-cart-btn,
    ul.header-btns .header-lang-btn {
        display: none;
    }
    .header-menu-left-side ul.header-btns { display: block; }
    .header-search-form-block .form-control { font-size: 16px; }

    .blog-timeline::before,
    .blog-col-1.blog-timeline .timeline-date::after {
        display: none;
    }
    .blog-col-1.blog-timeline .timeline-date { text-align: left; }
    .blog-col-1.blog-timeline .blog-item { padding-left: 0; }
    .blog-col-1 .blog-item .blog-item-body { border-radius: 0; }
    .blog-items-wrapper:not(.blog-minimal) .blog-item .blog-item-container .blog-item-body {
        padding: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-width: 0;
    }
    .blog-items-wrapper.blog-col-1:not(.blog-minimal) .blog-item .blog-item-footer { display: none; }
    .blog-minimal .blog-item .blog-item-container .blog-item-body {
        padding-left: 15px;
        padding-right: 15px;
    }
    .blog-minimal .blog-item .blog-item-footer { padding-bottom: 20px; }
    .blog-single-item .blog-item .blog-item-format-content { padding: 20px 25px; }
    .blog-col-1.blog-timeline .blog-item .blog-item-meta span.item-meta-format a i { margin-left: 1px; }
    .author-block-avatar,
    .comment-block-container .comment-block-avatar {
        float: none;
        margin-bottom: 20px;
    }
    ul.comments-block-list ul { padding-left: 20px; }
    .section-button{
        padding-top: 5px;
    }
    .section-title .section-button a {
        width: 100% !important;
        height: auto;
        white-space: pre-line;
    }
    .gfort-navigation-block .pager li > a,
    .gfort-navigation-block .pager li > span,
    .gfort-navigation-block .pager > li.next,
    .gfort-navigation-block .pager > li.previous {
        width: 100%;
        display: block;
    }
    .gfort-navigation-block .pager > li.next { margin-top: 10px; }
    .gfort-navigation-block .pager > li.previous { margin-bottom: 10px; }
    ul.gfort-pager li a img,
    ul.gfort-pager-style-3 li a img {
        display: none;
    }
    ul.gfort-pager-style-1 li a img { display: block; }

    nav.navigation-block ul li,
    nav.navigation-block.navigation-block-col-2 ul li,
    nav.navigation-block.navigation-block-col-3 ul li,
    nav.navigation-block.navigation-block-col-4 ul li,
    nav.navigation-block.navigation-block-col-5 ul li {
        width: 100%;
    }

    .video-section .section-container { padding: 100px 0 70px; }

    .col-xs-4 { width: 50%; }
    .col-xs-6 { width: 100%; }

    .mobile-clearfix-xs {
        width: 100%;
        display: block;
        overflow: hidden;
    }

    .icon-block.gfort-block.text-right,
    .icon-block.gfort-block-style-3.text-right .gfort-block-head,
    .icon-block.gfort-block-style-6.text-right .gfort-block-head,
    .icon-block.gfort-block-style-9.text-right .gfort-block-head,
    .icon-block.gfort-block-style-11.text-right .gfort-block-head {
        text-align: left;
    }
    .icon-block.gfort-block .gfort-block-head,
    .icon-block.gfort-block.text-right .gfort-block-head {
        float: none;
        margin: 0 auto 20px 0;
    }
    .icon-block.gfort-block-style-5 .gfort-block-head,
    .icon-block.gfort-block-style-7 .gfort-block-head,
    .icon-block.gfort-block-style-10 .gfort-block-head,
    .icon-block.gfort-block-style-12 .gfort-block-head {
        margin-left: auto;
    }
    .icon-block.gfort-block-style-1 .gfort-block-head { text-align: left; }
    .icon-block.gfort-block-style-2.text-right .gfort-block-title i,
    .icon-block.gfort-block-style-8.text-right .gfort-block-title i {
        float: none;
        margin-left: 0;
        margin-right: 10px;
    }

    .image-block.gfort-block-style-2 .gfort-block-head {
        float: none;
        margin: 0 auto 20px 0;
    }

    .testimonials-item-style-1 .testimonials-item-container { padding-left: 0; }
    .testimonials-item-style-1 .testimonials-item-avatar {
        position: relative;
        margin-bottom: 20px;
    }

    .timeline-block-container .timeline-block-item { padding-left: 0; }

    .team-block-style-1 .team-block-media {
        float: none;
        margin-bottom: 20px;
    }

    .gallery-col-2 .gallery-item,
    .gallery-col-3 .gallery-item,
    .gallery-col-4 .gallery-item,
    .gallery-col-5 .gallery-item {
        width: 100%;
    }

    .gfort-dash {
        opacity: 0;
        width: 100%;
        display: block !important;
        line-height: 5px !important;
    }

}